@model IList<PersonResults>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1>Eployee of the Month!</h1>
        @if (Model.Any())
        { <partial name="PersonViewPartial" model="Model[0]" /> }
    </div>

    <div class="card-deck">
        <h2>Employees list</h2>
        <div class="row">
            @foreach (var p in Model)
            {
                <div class="col-md-4">
                    <partial name="PersonViewPartial" model="p" />
                </div>
            }
        </div>
    </div>
</div>
