@model PersonRequests
@{
    ViewData["Title"] = "Create Person";
    var organizations = (List<OrganizationResult>)ViewBag.Organizations;
}

<h2>@ViewBag.title</h2>
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="form-label">First name</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="form-label">Last name</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrganizationId" class="form-label">Organization</label>
        <select asp-for="OrganizationId" class="form-control">
            <option value="">No organization</option>
            @foreach (var org in organizations)
            {
                <option value="@org.Id">@org.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}