@model IList<Person>
@{
    ViewData["Title"] = "People List";
}

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <partial name="PersonViewPartial" model="p"/>
    }
    </tbody>
</table>